{% extends 'base.html' %}
{% block title %} University of Cape Town {% endblock %}

{% block body %}
<br><br>
  <div>
    <h1 class="pix-sliding-headline h3 text-heading-default font-weight-bold pix-ready"><span class="slide-in-container"><span class="d-inline-block text-heading-default animated">University of </span></span> <span class="slide-in-container"><span class="d-inline-block text-heading-default animated">Cape Town</span></span> </h1>
  </div>
<div class="card">
  <section>
    <img src="static/images/UCT_Logo.jpg" style="float:left;" width="650" height="350">
    <article><strong>
      [Placeholder text for institution involvement overview]<br><br>
      The University of Cape Town is a research-intensive university located in Cape Town. The institution has 200 researchers, 30 of which are enganged in artificial intelligence research.
      Of those 30 researchers:<br>
      7 are A rated <br>
      6 are B rated <br>
      5 are C rated <br>
      6 are P rated <br>
      and the remaining 5 are Y rated according to the National research foundation (NRF)<br><br>
      In the AI community the institution (and its researchers) have been actively involved in researching Machine learning, deep learning, reinforcement learning and Computer vision"
    </strong><br>
    </article>
  </section>
</div>

    <p class="text-heading-default font-weight-bold pix-ready"><span class="slide-in-container"><span class="d-inline-block text-heading-default animated">University Of Cape Town </span></span> <span class="slide-in-container"><span class="d-inline-block text-heading-default animated">Researchers</span></span> </p>


<div class="card">
  <section>
<table class="table">
  <tr class="thead-dark">
    <th>Surname(s)</th>
    <th>Title</th>
    <th>Rating</th>
    <th>Institution</th>
    <th>Primary Research</th>
    <th>Secondary Research</th>
  </tr>

  <tr>
    <td><a href="#">John Doe</a></td>
    <td>Dr</td>
    <td> Y </td>
    <td> <a href="/universityofcpt">University of Cape Town</a> </td>
    <td> Machine learning </td>
    <td> Deep learning</td>
  </tr>
</table>

  </section>
</div>

{% endblock %}