{% extends 'base.html' %}

{% block title %} Researchers {% endblock %}

{% block body %}
<div>
  <form class="input-group input-group-xs" action="/search_results" method="GET">
    <input type="text" placeholder="Search researchers..." class="form-control" name="researcher_search">
    <input type="submit" value="Search">
  </form>
</div>
<br><br>
  <div>
    <h1 class="pix-sliding-headline h3 text-heading-default font-weight-bold pix-ready"><span class="slide-in-container"><span class="d-inline-block text-heading-default animated">Rated AI</span></span> <span class="slide-in-container"><span class="d-inline-block text-heading-default animated">researchers</span></span> </h1>
  </div>
    <br><br><br>
    <p class="text-heading-default font-weight-bold pix-ready"><span class="slide-in-container"><span class="d-inline-block text-heading-default animated">Apply</span></span> <span class="slide-in-container"><span class="d-inline-block text-heading-default animated">filter</span></span> </p>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="content">
  <span class="input-group input-group-sm row" >
    <div>
    <label class="form-control col"> Surname
     <select name="Surname" style="border:0px; float: right;width=150px;" id="input_surname">
           <option value="All">All</option>
          {% for option in Surnames %}
            <option value={{option["Surname"]}} style="width:150px">{{option["Surname"]}}</option>
          {% endfor %}
      </select>
    </label>
    </div>
    <div>
    <label class="form-control col"> Rating
     <select name="Rating" style="border:0px; float: right;" id="input_rating">
        <option value="All">All</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">B</option>
        <option value="P">P</option>
       <option value="Y">Y</option>
      </select>
    </label>
    </div>
    <div>
    <label class="form-control col" > Institution
      <select name="Institution" style="border:0px; float: right;width:150px;" id="input_institution">
          <option value="All">All</option>
          {% for option in Institutions %}
            <option value={{option["Institution"]}} style="width:150px">{{option["Institution"]}}</option>
          {% endfor %}
      </select>
    </label>
    </div>
    <div>
    <label class="form-control col"> Primary research
      <select name="Primary research" class=wgtmsr" style="border:0px; float: right; width:150px;" id="input_Primary" >
          <option value="All">All</option>
          {% for option in S_options %}
            <option value={{option["SecondaryResearch"]}} style="width:150px">{{option["SecondaryResearch"]}}</option>
          {% endfor %}
      </select>
    </label>
    </div>
    <div>
    <label class="form-control col"> Secondary research
      <select name="Secondary research" class="wgtmsr" style="border:0px; float: right;width:150px;" id="input_Secondary" >
          <option value="All">All</option>
          {% for option in S_options %}
            <option value={{option["SecondaryResearch"]}} style="width:150px">{{option["SecondaryResearch"]}}</option>
          {% endfor %}
      </select>
    </label>
    </div>
      <button class = "btn btn-light" style="height: 38px;" onclick="search_researchers()"> Apply Filter </button>
  </span>
<table class="table"  id="ResearchersTable">
    <thead class="thead-dark" style="position: sticky;">
        <th>Surname(s)</th>
        <th>Initials</th>
        <th>Title</th>
        <th>Institution</th>
        <th>Rating</th>
        <th>Primary Research</th>
        <th>Secondary Research</th>
        <th>Specializations)</th>
    </thead>
    {% for row in rows %}

        <tr>
              <td>{{row["surname"]}}</td>
              <td>{{row["initials"]}}</td>
              <td>{{row["title"]}}</td>
              <td>{{row["institution"]}}</td>
              <td>{{row["rating"]}}</td>
              <td>{{row["primaryResearch"]}}</td>
              <td>{{row["secondaryResearch"]}}</td>
              <td>{{row["Specializations"]}}</td>

        </tr>
    {% endfor %}


</table>
<br>
<br>

</div>
{% endblock %}


